/* Hide scroll bar */
::-webkit-scrollbar {
  display: none;
}

/* Loading */

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0f1352;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 1000;
}

.content {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  filter: url("#goo");
  animation: rotate-move 2s ease-in-out infinite;
}

.dot {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.dot-3 {
  background-color: #ec3cdc;
  animation: dot-3-move 2s ease infinite, index 6s ease infinite;
}

.dot-2 {
  background-color: #6588fe;
  animation: dot-2-move 2s ease infinite, index 6s -4s ease infinite;
}

.dot-1 {
  background-color: #4c0ca8;
  animation: dot-1-move 2s ease infinite, index 6s -2s ease infinite;
}

@keyframes dot-3-move {
  20% {
    transform: scale(1);
  }
  45% {
    transform: translateY(-18px) scale(0.45);
  }
  60% {
    transform: translateY(-90px) scale(0.45);
  }
  80% {
    transform: translateY(-90px) scale(0.45);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}

@keyframes dot-2-move {
  20% {
    transform: scale(1);
  }
  45% {
    transform: translate(-16px, 12px) scale(0.45);
  }
  60% {
    transform: translate(-80px, 60px) scale(0.45);
  }
  80% {
    transform: translate(-80px, 60px) scale(0.45);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}

@keyframes dot-1-move {
  20% {
    transform: scale(1);
  }
  45% {
    transform: translate(16px, 12px) scale(0.45);
  }
  60% {
    transform: translate(80px, 60px) scale(0.45);
  }
  80% {
    transform: translate(80px, 60px) scale(0.45);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}

@keyframes rotate-move {
  55% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  80% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes index {
  0%,
  100% {
    z-index: 3;
  }
  33.3% {
    z-index: 2;
  }
  66.6% {
    z-index: 1;
  }
}

/* Background main */

.bg-main {
  position: relative;
  background-color: #0f1352;
  overflow: hidden;
}

.bg-main::before,
.bg-main::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  filter: blur(50px);
  opacity: 0.7;
}

.bg-main::before {
  background-color: #f43ce4;
  top: 500px;
  left: -200px;
  width: 600px;
  height: 600px;
}

.bg-main::after {
  background-color: #0c7cc4;
  top: 20px;
  right: -50px;
}

/* Section separator */

.slide {
  animation: marquee 45s linear infinite;
}

.slides:hover .slide {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

html {
  scroll-behavior: smooth;
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-down {
  animation: fade-in-down 1s ease-out;
}

.animate-fade-in-up {
  animation: fade-in-up 1s ease-out;
}

/* Carousel about */

.swiper-button-prev {
  background-image: url("/src/app/assets/img/arrow-left.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  width: 56px;
  height: 56px;
  left: 72px;
}

.swiper-button-next {
  background-image: url("/src/app/assets/img/arrow-right.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  width: 56px;
  height: 56px;
  right: 72px;
}

@media (max-width: 1024px) {
  .swiper-button-prev {
    left: 35px;
    width: 40px;
    height: 40px;
  }

  .swiper-button-next {
    right: 30px;
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 768px) {
  .swiper-button-prev {
    left: 25px;
    width: 40px;
    height: 40px;
  }

  .swiper-button-next {
    right: 25px;
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 425px) {
  .swiper-button-prev {
    left: 20px;
    width: 0px;
    height: 0px;
  }

  .swiper-button-next {
    right: 10px;
    width: 0px;
    height: 0px;
  }
}

@media (max-width: 375px) {
  .swiper-button-prev {
    left: 12px;
    top: 59%;
    width: 0px;
    height: 0px;
  }

  .swiper-button-next {
    right: 12px;
    top: 59%;
    width: 0px;
    height: 0px;
  }
}

@media (max-width: 320px) {
  .swiper-button-prev {
    left: 10px;
    width: 0px;
    top: 59%;
    height: 0px;
  }

  .swiper-button-next {
    right: 10px;
    top: 59%;
    width: 0px;
    height: 0px;
  }
}

.arrow {
  position: absolute;
  top: 45%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none !important;
}

.swiper-button-disabled {
  opacity: 0 !important;
}

/* Carousel services */

.arrow-services-right {
  right: -10%;
  top: 50%;
  width: 56px;
  height: 56px;
}

.arrow-services-left {
  left: -10%;
  top: 50%;
  width: 56px;
  height: 56px;
}

@media (max-width: 1024px) {
  .arrow-services-right {
    right: -0%;
    top: 50%;
    width: 44px;
    height: 44px;
  }

  .arrow-services-left {
    left: -0%;
    top: 50%;
    width: 44px;
    height: 44px;
  }
}

@media (max-width: 768px) {
  .arrow-services-right {
    right: -3%;
    top: 50%;
    width: 40px;
    height: 40px;
  }

  .arrow-services-left {
    left: -3%;
    top: 50%;
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 425px) {
  .arrow-services-right {
    right: -4%;
    top: 50%;
    width: 36px;
    height: 36px;
  }

  .arrow-services-left {
    left: -4%;
    top: 50%;
    width: 36px;
    height: 36px;
  }
}

@media (max-width: 320px) {
  .arrow-services-right {
    right: -16px;
    top: 50%;
    width: 28px;
    height: 28px;
  }

  .arrow-services-left {
    left: -16px;
    top: 50%;
    width: 28px;
    height: 28px;
  }
}

/* Clients */

.bg-clients {
  background-image: url("/src/app/assets/svg/circle-right.svg");
  background-repeat: no-repeat;
  background-size: 200%; /* Aumenta el tamaño del fondo */
  background-position: center; /* Posiciona el fondo a la derecha */
  width: 100vw; /* Asegura que el fondo cubra todo el ancho de la pantalla */
  height: 120vh; /* Ajusta la altura del fondo para cubrir toda la altura de la pantalla */
  overflow: hidden;
  z-index: 0; /* Asegura que el fondo esté detrás del contenido */
}

/* Carousel clients */

.slideOne img {
  width: 100%;
  margin: 0 auto;
}

.slideOne {
  transform: scale(0.2);
  transition: transform 300ms;
  opacity: 0.5;
}

.activeSlide {
  transform: scale(1.1);
  opacity: 1;
}

.arrow {
  position: absolute;
  background-size: auto 100%;
  cursor: pointer;
  z-index: 10;
}

.arrow-clients-left {
  left: -5%;
  top: 44%;
  width: 56px;
  height: 56px;
}

.arrow-clients-right {
  right: -5%;
  top: 44%;
  width: 56px;
  height: 56px;
}

@media (max-width: 1024px) {
  .arrow-clients-left {
    left: 0%;
    width: 44px;
    height: 44px;
  }

  .arrow-clients-right {
    right: 0%;
    width: 44px;
    height: 44px;
  }
}

@media (max-width: 768px) {
  .arrow-clients-left {
    left: 3%;
    width: 40px;
    height: 40px;
  }

  .arrow-clients-right {
    right: 3%;
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 425px) {
  .arrow-clients-left {
    left: -5%;
    width: 36px;
    height: 36px;
  }

  .arrow-clients-right {
    right: -5%;
    width: 36px;
    height: 36px;
  }
}

@media (max-width: 375px) {
  .arrow-clients-left {
    left: -5%;
    width: 36px;
    height: 36px;
  }

  .arrow-clients-right {
    right: -5%;
    width: 36px;
    height: 36px;
  }
}

@media (max-width: 320px) {
  .arrow-clients-left {
    left: -5%;
    width: 28px;
    height: 28px;
  }

  .arrow-clients-right {
    right: -5%;
    width: 28px;
    height: 28px;
  }
}

/* Carousel clients animation */

.container {
  position: relative;
  width: 200px;
  height: 260px;
  transition: 200ms;
}

#card {
  position: absolute;
  inset: 0;
  width: 100%;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: 700ms;
}

.tracker:hover ~ #card .title {
  opacity: 1;
}

#prompt {
  bottom: 8px;
  left: 12px;
  z-index: 20;
  font-size: 20px;
  font-weight: bold;
  transition: 300ms ease-in-out-out;
  position: absolute;
  max-width: 110px;
  color: rgb(255, 255, 255);
}

.tracker {
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
}

.tracker:hover {
  cursor: pointer;
}

.tracker:hover ~ #card #prompt {
  opacity: 0;
}

.tracker:hover ~ #card {
  transition: 300ms;
  filter: brightness(1.1);
}

.container:hover #card::before {
  transition: 200ms;
  content: "";
  opacity: 80%;
}

.canvas {
  perspective: 800px;
  inset: 0;
  z-index: 200;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "tr-1 tr-2 tr-3 tr-4 tr-5"
    "tr-6 tr-7 tr-8 tr-9 tr-10"
    "tr-11 tr-12 tr-13 tr-14 tr-15"
    "tr-16 tr-17 tr-18 tr-19 tr-20"
    "tr-21 tr-22 tr-23 tr-24 tr-25";
}

#card::before {
  content: "";
  background: linear-gradient(
    43deg,
    rgb(65, 88, 208) 0%,
    rgb(200, 80, 192) 46%,
    rgb(255, 204, 112) 100%
  );
  filter: blur(2rem);
  opacity: 30%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  transition: 200ms;
}

.tr-1 {
  grid-area: tr-1;
}

.tr-2 {
  grid-area: tr-2;
}

.tr-3 {
  grid-area: tr-3;
}

.tr-4 {
  grid-area: tr-4;
}

.tr-5 {
  grid-area: tr-5;
}

.tr-6 {
  grid-area: tr-6;
}

.tr-7 {
  grid-area: tr-7;
}

.tr-8 {
  grid-area: tr-8;
}

.tr-9 {
  grid-area: tr-9;
}

.tr-10 {
  grid-area: tr-10;
}

.tr-11 {
  grid-area: tr-11;
}

.tr-12 {
  grid-area: tr-12;
}

.tr-13 {
  grid-area: tr-13;
}

.tr-14 {
  grid-area: tr-14;
}

.tr-15 {
  grid-area: tr-15;
}

.tr-16 {
  grid-area: tr-16;
}

.tr-17 {
  grid-area: tr-17;
}

.tr-18 {
  grid-area: tr-18;
}

.tr-19 {
  grid-area: tr-19;
}

.tr-20 {
  grid-area: tr-20;
}

.tr-21 {
  grid-area: tr-21;
}

.tr-22 {
  grid-area: tr-22;
}

.tr-23 {
  grid-area: tr-23;
}

.tr-24 {
  grid-area: tr-24;
}

.tr-25 {
  grid-area: tr-25;
}

.tr-1:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-2:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-3:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(0deg) rotateZ(0deg);
}

.tr-4:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(5deg) rotateZ(0deg);
}

.tr-5:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(10deg) rotateZ(0deg);
}

.tr-6:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-7:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-8:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(0deg) rotateZ(0deg);
}

.tr-9:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(5deg) rotateZ(0deg);
}

.tr-10:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(10deg) rotateZ(0deg);
}

.tr-11:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-12:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-13:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.tr-14:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(5deg) rotateZ(0deg);
}

.tr-15:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(10deg) rotateZ(0deg);
}

.tr-16:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-17:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-18:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(0deg) rotateZ(0deg);
}

.tr-19:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(0deg);
}

.tr-20:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(10deg) rotateZ(0deg);
}

.tr-21:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-22:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-23:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(0deg) rotateZ(0deg);
}

.tr-24:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(5deg) rotateZ(0deg);
}

.tr-25:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(10deg) rotateZ(0deg);
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

/* Animations cricles */

.container-spinnings {
  display: grid;
  place-items: center;
  --circleDiameter: 600px;
  --outerDiameter: 800px; /* Nuevo tamaño para el círculo externo */
  --planets: calc(var(--circleDiameter) / 8);
}

.outer-circle {
  position: relative;
  width: var(--outerDiameter);
  height: var(--outerDiameter);
  border: 4px solid #5c5c54;
  border-radius: 100%;
}

.hero-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--circleDiameter);
  height: var(--circleDiameter);
  border: 4px solid #5c5c54; /* Borde y radio como el círculo externo */
  border-radius: 100%; /* Hace que el círculo sea redondo */
}

.planet {
  position: absolute;
  width: var(--planets);
  background-color: #5c5c54;
  aspect-ratio: 1;
  border-radius: 100%;
}

.planet:nth-child(1) {
  top: calc(-1 * var(--planets) / 2);
  left: calc(var(--circleDiameter) / 2 - var(--planets) / 2 - 5px);
}

.planet:nth-child(2) {
  top: calc(var(--circleDiameter) / 2 - var(--planets) / 2 - 5px);
  right: calc(-1 * var(--planets) / 2);
}

.planet:nth-child(3) {
  top: calc(var(--circleDiameter) / 2 - var(--planets) / 2 - 5px);
  left: calc(-1 * var(--planets) / 2);
}

.planet:nth-child(4) {
  left: calc(var(--circleDiameter) / 2 - var(--planets) / 2 - 5px);
  bottom: calc(-1 * var(--planets) / 2);
}

